<div class="wrapper" id='wrapper'>
  <div class="input-group mb-3 floatedInput">
    <div class="innerBox">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputGroupFile02" (change)="chooseFile($event)">
        <label *ngIf="selectedPath == undefined" class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02" >Select File</label>
        <label *ngIf="selectedPath" class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02" >{{selectedPath}}</label>
      </div>
      <div style="display:inline-block; margin:5px"><input type="checkbox" name="siblings" (change)="sibling($event)" [checked]="siblings" > Include Siblings</div>
      <div style="display:inline-block; margin:5px"><input type="checkbox" name="save" (change)="savePath($event)" [checked]="saveFilePath"> Save Path</div>
      <button class="monitorButton" (click)="startMonitoing('#wrapper')" mat-raised-button>Monitor</button>
    </div>

  </div>
</div>
